* {
    box-sizing: border-box;
}

:root {
    --text-color: #212832;
    --desc-color: #6F727B;
    --title-color: #181E4B;
    --bg-color1: #FEF0DA;
    --bg-color2: #F1A501;
    --bg-color3: #DF6951;

    --main-font-family: 'Poppins';
    --title-font-family: 'Volkhov';
}


main {
    padding: 200px 10px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    gap: 25px;
    position: relative;
}

main section article {
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

main section article h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: var(--bg-color3);
    font-family: var(--title-font-family);
}

main section article h1 span {
    font-size: .5em;
    color: var(--title-color);
}

main section article p {
    padding: 20px;
    background-color: var(--bg-color1);
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--bg-color3);
    max-width: 800px;
    height: 100%;
    font-weight: 500;
    font-family: var(--main-font-family);


}


main section .imgs{
    /* background-color: green; */
    width: 30%;
    height: 100%;
    padding: 0 0 10px;
    position: relative;
}

main section .imgs .nav_imgs{
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background-color: var(--bg-color2);
        transition: all .25s;
    }

    a:hover{
        background-color: var(--bg-color3);
    }
    
}

main section .imgs .img_container {
    height: 500px;
    width: 100%;

    scroll-behavior: smooth;

    display: flex;
    flex-shrink: 0;
    overflow: hidden;
}

main section .img_container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    flex-shrink: 0;
    background: var(--bg-color2);
    object-fit: cover;
}

main>article {
    width: 98%;
    padding: 10px;
    max-width: 1150px;

}

main>article p {
    padding: 20px;
    background-color: var(--bg-color1);
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--bg-color3);
    font-family: var(--main-font-family);
    height: 100%;
    font-weight: 500;
}

main>article h2 {
    font-size: 1.75rem;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    font-family: var(--title-font-family);
    color: var(--title-color);

}

main>article h2::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-15px/2));
    left: 0;

}

@media (max-width : 800px ) {
    
    main section article p{
        font-size: 1rem;
    }

    main section{
        flex-direction: column-reverse;
    }

    main section article h1{
        font-size: 2.5rem;
        position: absolute;
        top :0 ;
        transform: translateY(-100%);
    }

    main section .imgs {
        width: 100%;
    }

    main section .img_container{
        height: 70vh;
    }

    main>article h2{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    
    main>article p {
        font-size: 1rem;
    }


}